{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Components": "./src/Components",
          "Config": "./src/Config",
          "Constants": "./src/Constants",
          "Contexts": "./src/Contexts",
          "Ctx": "./src/Context",
          "Helpers": "./src/Helpers",
          "Hooks": "./src/Hooks",
          "Icons": "./src/Assets/Icons",
          "Images": "./src/Assets/Images",
          "Layouts": "./src/Layouts",
          "Localizations": "./src/Localizations",
          "Modals": "./src/Modals",
          "Redux": "./src/Redux",
          "Routes": "./src/Routes",
          "Schemas": "./src/Schemas",
          "Services": "./src/Services",
          "Styled": "./src/Styled",
          "Styles": "./src/Styles",
          "Themes": "./src/Themes",
          "Utils": "./src/Utils",
          "Views": "./src/Views"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ]
}
