{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "lib": ["es2018"]
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "no-unused-vars": 2,
    "react/jsx-no-target-blank": 0,
    "no-mixed-spaces-and-tabs": 2,
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-single"],
    "no-multiple-empty-lines": [1, { "max": 2 }],
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 0,
    "max-len": [2, { "code": 150 }],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "react/jsx-props-no-spreading": 0,
    "no-underscore-dangle": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events":0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-param-reassign": [0, { "props": false }],
    "react/function-component-definition": [
      2,
      {"namedComponents": ["function-declaration", "arrow-function"]}
    ],
    "no-console": 2,
    "react/forbid-prop-types": 0
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
